{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    "babel-plugin-syntax-jsx",
    "transform-vue-jsx"
  ],
  "presets": [
    "@babel/preset-env"
  ]
}